#section{   
    /* background: #1b85ff; */
    /* background-color: blue; */
    /* background-size: 300px 100px; */

    /* background-image: url("freedom.jpg");
    background-position:left 10% bottom 20% ; make it center below
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */

    background:linear-gradient(to top, rgba(80,68,18,0.6)10%,transparent), url("images/freedom.jpg") center/cover no-repeat border-box, red;
    /* shorthand of all above property, image position/size (order matters & seperate with / ) repeat origin clip(for origin and clip also order matters) */
    
    /* Gradients for background image */
    /* background-image: linear-gradient(30deg, red 70%,blue 60% ,rgba(0,0,0,0.3)); */
    /* background-image: radial-gradient(ellipse 80px 30px at 20% 50%,red, blue, green); */
    
    /* background-attachment:scroll; */
    /* border: 5px dashed red; */
    
    /* though we can omit width as by default it is 100% for block level elements like <h1> <div> etc, we just need width:100% in <a> or other inline elements */
    /* margin:10px ;  */
    width:100vw;  
    height: 33vh;
    /* padding:0.625rem; */

    /* border-style:solid;
    border-color:black;
    border-width:5px; */
    /* All above 3 lines can be written as line below & it is called SHORTHAND. Any way can be used and will give same results. */
    /* border:5px solid black; */

    /* margin-top: 3.5rem; */
    position: relative;
} 

#section h1{
    color: white;
    font-family: 'Arvo', serif;
    /* text-align: center; */
    bottom:5%;
    left:3%;
    font-size: 1.6rem; 
    /* padding-top: 170px; my logic and below 3 line course logic */
    position: absolute;
    /* width:100%; */
    
}
/* Combinators where <h1> element in section ID will apply this css rule*/

/* h1{
    color: white;
    font-family: 'Arvo', serif;
} */
/* TAG selector */
/* in TAG selector, the bottom h1{} selector will have high priorty so the font-family 'Arvo' will be applied. */
/* but color parrot will apply as CLASS selector has high priority than TAG selector even though it is mentioned before. */

/* @media (min-width : 40rem) and (orientation:portrait) { */
@media (min-width : 40rem) and (min-height:40rem) {
    #section{
        height:40vh;
        background-position: 50% 25%;
    }
    #section h1{
        font-size: 3rem;
    }
}
/* for mobile first min-width media queries */

/* @media (min-width : 60rem){
    #section{
        height:50vh;
        background-position: 50% 25%;
    }
    #section h1{
        font-size: 5rem;
    }
} */
/*we can have more than one media queries next to each other as the later will not overwrite the previous one as both have diff media query limits */
/*NOTE::: BUT if the above queries are flipped, means smaller media query below and larger above, then the latest condition with min-width:40rem will be applied over 60rem as it will have high priority */

.freedom{
    padding:0.93rem;
}
/* ID selector */

.heading-title{
    color:royalblue;
    /* font-family: inherit; */
    text-align: center;
}
/* CLASS selector */



/* h1{
    font-family: sans-serif;
} */


.plan{
    background:rgba(149, 248, 125, 0.74) ;
    margin:0.5rem 0;
    padding:1rem;
    text-align:center;
    /* vertical-align: middle; because as we are using 100% width*/ 
    width:100%;
}


.highlight{
    background: rgb(11, 160, 11);
    color:white;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);   */
}

.plan__annotation{
    background: white;
    color:seagreen;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 0.5rem;
}

.plan__title{
    color:rgb(33, 56, 35);
}

.highlight .plan__title{
    color: white;
}

.plan__price{
    color:royalblue;
}

.highlight .plan__price{
    color:rgb(33, 56, 35)
}

.plan__list{
    list-style: none;
    margin:0px;
    padding:0px;
}

.plan__list li{
    margin:0.5rem 0px;
}

/* @media (min-width:40rem) and (orientation:landscape){ */
/* @media (min-width:40rem) , (orientation:landscape){ */
@media (min-width:40rem){
    .plan_listitem{
        width:100%;
        /* margin:auto; */
        /* to center our blocks but it works only for block level elements with an explicitly assigned width. */
        /* text-align:center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plan{
        /* display: inline-block; */
        width:30%;
        /* vertical-align: middle; */
        min-width:13rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
    }    

    .highlight{
         box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);  
         height: 30rem;
         z-index: 50;
        }
}
/* only for desktop view */

/* SECTION3 */
#key-features{
    background:royalblue;
    margin-top: 5rem;
    padding:1rem;
}

#key-features .heading-title{
    color:white;
    margin:2rem;
}

.key-features__lists{
    list-style: none;
    margin:0;
    padding:0;
    /* text-align: center; */
   
}
/* ul */

/* .key-feature__data{
    display: block; 
} */
/* li */

.image{
    background:rgb(85, 228, 233);
    border: 2px solid rgb(66, 65, 65);
    border-radius: 50%;
    height: 128px;
    width: 128px;
    margin: auto;
    padding: 1.5rem;
}
/* div */

.key-features__description{
    color:white;
    text-align: center;
    font-size: 1.2rem;
}
/* p */

/* 
#first-box{
    /* display:none; */
    /* visibility: hidden; */
/* }

div:last-of-type:hover{
    border-color:green;
} */

@media (min-width:40rem){
    .key-feature__data{
        /* display: inline-block; */
        /* vertical-align: top; */
        width:30%;
        max-width: 25rem;
    }

    .key-features__lists{
        display: flex;
        justify-content: center;
    }
} 

.modal {
    position: fixed;
    /* display: none; */
    opacity: 0;
    transform:translateY(-3rem);
    transition: opacity 200ms, transform 500ms cubic-bezier(0.32, 0, 0.67, 0);
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }